.profile{
     @media screen and (max-width: 480px) {
        
    }
    &__header{
        h2{
            font-family: Aileron;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            text-align: center;
            color: #8A1C1D;
             @media screen and (max-width: 480px) {
                font-size: 30px;
               
            }
        }
    }
    &__main{
        margin-top: 100px;
        &_head{
            text-align: center;
            h3{
                font-family: Aileron;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                color: #8A1C1D;
            }
        }
        &_count{
            width: 200px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E59A03;
            margin: 50px auto;
            border-radius: 10px;
            color: #fff;
            font-size: 30px;
        }
        &_pics{
            display: flex;
            justify-content: space-around;
            margin: 50px 0px;
             @media screen and (max-width: 480px) {
                flex-flow: column wrap;
            }
            img{
                width: 200px;
                height: 200px;
                border-radius: 10px;
                border:5px solid #e7e0e0;
                 @media screen and (max-width: 480px) {
                    margin-top: 20px;
                }
            }
        }
        &_body{
            margin: 100px 0px;
            text-align: center;
             @media screen and (max-width: 480px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;
            }
            h3{
                font-family: Prociono;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: center;
                color: #8A1C1D;
                 @media screen and (max-width: 480px) {
                }
            }
            p{
                font-family: Aileron;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: center;
                color: #E59A03;
                width: 400px;
                margin: 20px auto;
                 @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }
        }
        &_vote{
            display: flex;
            align-items: center;
            justify-content: space-between;
             @media screen and (max-width: 480px) {
               flex-flow: column wrap;

            }
            p{
                font-family: Aileron;
                font-size: 20px;
                font-style: italic;
                font-weight: 400;
                text-align: left;
                color:#8A1C1D;
                padding-right: 50px;
                width: 65%;
                 @media screen and (max-width: 480px) {
                    width: 100%;
                    padding-right: 0px;
                }
                b{
                    
                    font-family: Aileron;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
            .number{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .minus, 
            .plus{
                background:#E59A03;
                border-radius:10px;
                width: 91px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 50px;
                &:hover{
                    cursor: pointer;
                }
            }
            input{
                height:60px;
                width: 100px;
                text-align: center;
                font-size: 26px;
                border:1px solid #ddd;
                border-radius:4px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        &_voting{
            width: 30%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
             @media screen and (max-width: 480px) {
                width: 100%;
                margin: 50px 0px;
            }
            button{
                height: 48px;
                width: 145px;
                background-color: #E59A03;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                border: none;
                font-size: 20px;
                color: #fff;
                margin-top: 20px;
            }
        }
    }
}